<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/material")
    @Scripts.Render("~/bundles/modernizr")
@*    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
                <li><a href="badges.html"><i class="material-icons right">view_module</i>Link with Right Icon</a></li>
            </ul>
        </div>
    </nav>
   
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
@*    @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/material")
    @RenderSection("scripts", required: false)
</body>
</html>
